dj-database-url==0.5.0
Django==2.0.3
django-heroku==0.3.1
djangorestframework==3.7.7
geopy==1.11.0
gsl==0.0.1
gunicorn==19.7.1
pandas==0.22.0
pipenv==11.1.4
Pygments==2.2.0
pylint==1.8.2
pymongo==3.6.1
pyparsing==2.2.0
PyQt5==5.10
python-dateutil==2.6.1
pytz==2018.3
pyzmq==17.0.0
virtualenv==15.1.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
